<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839662324325-8udtd29t6vte2nsj7gv2iba2sn0baprn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839662324325-8udtd29t6vte2nsj7gv2iba2sn0baprn</string>
	<key>API_KEY</key>
	<string>AIzaSyD6zgZ_iWU-7cTIgrJN133k6nKzAY_YUrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>839662324325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.granthough.Test</string>
	<key>PROJECT_ID</key>
	<string>test-e5d8a</string>
	<key>STORAGE_BUCKET</key>
	<string>test-e5d8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839662324325:ios:78efbf58eef4f7bee1148c</string>
</dict>
</plist>